@media screen and ( min-device-width : 250px ) and (max-device-width : 480px) {
    .divmae-6{ 
        justify-content: center;
        align-items: center;
        background-color: rgb(191,175,131);

    }
  
    .bloco1-6{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 400px;
        background-color: rgb(191,175,131);
    }
  
    .botaoselect-6{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 150px;
  
    }
  
  
    .blocoInter-6{  
        justify-content: column; 
        justify-content: space-around;
    }
  
    .bloco2-6{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        width: 100%;
        height: 400px;
        background-color: rgb(239,239,239);
        border-top-left-radius: 700px 70px;
        border-top-right-radius: 700px 70px ;
    }

    .numeros-6{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 25px;
        background-color: white;
        text-align: center;
        box-shadow: 0 0 1em rgba(0,0,0,0.1); 
    }

    .blocoNumeros-6{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }

    .blocoDeTexto-6{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .imagemLoto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 7px;
    }

}


@media screen and (min-device-width : 481px) and (max-device-width : 2000px) {    

    .divmae-6{ 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(191,175,131);
        height: 750px;

    }
  
    .bloco1-6{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 700px;
        background-color: rgb(191,175,131);
    }
  
    .botaoselect-6{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 150px;
  
    }
  
  
    .blocoInter-6{  
        justify-content: column; 
        justify-content: space-around;
    }
  
    .bloco2-6{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        width: 100%;
        height: 750px;
        background-color: rgb(239,239,239);
        border-bottom-left-radius: 10em 30em;
        border-top-left-radius: 10em 30em;
    }

    .numeros-6{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 25px;
        background-color: white;
        text-align: center;
        /* padding: 5px; */
        box-shadow: 0 0 1em rgba(0,0,0,0.1); 
    }

    .blocoNumeros-6{
        display: flex;
        align-items: center;
        justify-content: center; 
        max-width: 700px;      
        flex-wrap:wrap;
    }

    .blocoDeTexto-6{
        width: 50%;
        position: absolute;        
        bottom: 20px;
        right: 3px;       
        word-wrap:  normal;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .imagemLoto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 7px;
    }
}